@import url(../fonts/fonts.css);

body {
  padding-bottom: 88px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr; 
  align-items: center;
  width: 100%;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__menu {
  justify-self: start;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  margin-top: 5px;
  list-style-type: circle;
}

.header__menu-list-item {
  border-bottom: 1px black solid;
  padding: 1.5px 0;
  line-height: 100%;
}

.header__menu-link {
  text-decoration: none;
}

.header__menu-list-item_no-bullit  {
  list-style-type: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 237px;
  margin-top: 7px;
  justify-self: end;
  font-style: normal;
  line-height: 24.3px;
}

.contacts__phone,
.contacts__mail {
  width: fit-content;
  border-bottom: 1px solid black;
  line-height: 21px;
  letter-spacing: -0.1px;
  text-decoration: none;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
}

.cover {
  position: relative;
  padding: 165px 50px 51px 50px;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/cover.jpg);
  background-position: top;
  background-size: cover;
  background-blend-mode:multiply;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0;
  color: white;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.text__left {
  line-height: 115%;
  text-align: left;
}

.text__center {
  text-align: center;
}

.text__right {
  text-align: right;
}

.letter__spacing-extended {
  letter-spacing: 60px;
}

.no__letter__spacing {
  letter-spacing: 0;
}

.cover__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-top: 135px;
  margin-left: 28px; 
  color: white;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.29px;
  text-transform: uppercase;
  word-spacing: 19.9px;
}

.bet__button {
  border: 1px solid white;
  padding: 11.5px 31.5px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 179px;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
  position: relative;
  
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  padding: 50px 40px 48px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.card__title {
  font-size: 22px;
  line-height:120%;
  letter-spacing: 0.1px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid black;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: flex;
  gap: 72px;
  margin: 146px 0px 0 0;
  padding: 35px 24px 0 71px;
}

.about__logo {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 64px 46px 62px 46px;
  background-color: black;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.about__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-self: right;
  gap: 100px;
  width: 692px;
  margin-top: 102px;
  letter-spacing: -0.1px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap:24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 182px;
  padding: 0 50px;
}

.footer address {
  margin: 0;
  font-size: 18px;
  line-height: 135%;
}

.footer__menu {
  margin-left: 5px;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid black;
  line-height: 110%;
  letter-spacing: -0.1px;
  text-decoration: none;
}


.active {
  border-bottom: none;
}

.social__networks-list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.social__networks-list-item {
  width: 48px;
  height: 48px;
}

.social__networks-link {
  width: 100%;
  height: 100%;
}
